/*Global*/
body{
    font-family: arial;
}
h1{
    text-align: center;
}
p{
    line-height: 1.5;
}
img {
    max-width: 100%;
}
/*Utilities*/
.btn-black{
    display: inline-block;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
}

.btn-brown{
    display: inline-block;
    background-color: brown;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
}

.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.container2{
    width: 68%;
    margin-left: auto;
    margin-right: auto;
}

/*Headers*/
.header-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.primary-header {
    background-image: url(coffee-images-main/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
}
.contact-header{
    background-position: center center;
    background-size: cover;
    height: 100px;
    color: white;
    background-color: black;
}
.contact-footer{
    background-position: center center;
    background-size: cover;
    height: 100px;
    color: white;
    background-color: black;
    text-align: center;
}
.menu a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
/*MAIN*/

.main-flex{
    display: flex;
    flex-direction: row;
}
.blog-container{
    width: 60%;
    margin-right: 10px;
}
.courses-container{
    width: 40%;
}
.parragrph-highligh{
    font-weight: bold;
    font-size: 28px;
}
.input_textbox{
    width: 50%;
    margin: 8px 0;
    box-sizing: border-box;
}
.textarea {
  width: 50%;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  
}